<h1 class="center">Blocipedia: Social, Markdown Wikis</h1>

<div class="jumbotron">
    <div class="center">
        <h3>Create and share Markdown Wikis</h3>
        <button class="center"><%= link_to "Sign Up", new_user_registration_path %></button>
    </div>
</div>

<div>
    <div class="halves pull-left center">
        <h3>Create as many public wikis as you want!</h3>
        <button class="center">Free Plan</button>
    </div>
    <div class="halves pull-right center">
        <h3>Create private wikis!</h3>
        <button>Premium Plan</button>
    </div>
</div>