<h1>All Wiki's</h1>

<button><%= link_to "New Wiki", new_wiki_path %></button>

<% @wikis.each do |wiki| %>
  <% if current_user.admin? || current_user.premium? || !wiki.private? %>
    <div class="media">
      <div class="media-body">
        <h4 class="media-heading">
          <p><%= link_to wiki.title, wiki %> 
          <% if wiki.private? %>
            Private
          <% else %>
            Public
          <% end %>:
          <%= User.find(wiki.user_id).email    %>
         </p>    
        </h4>
      </div>
    </div>
  <% end %>
<% end %>

